@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');




.cabecalho__entrar, .cabecalho__cadastrar {
    color: #667085;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    padding: 10px 18px;
}


